@using System.Globalization

@code {
    private int currentYear = DateTime.Today.Year;
    private int currentMonth = DateTime.Today.Month;
    //private int nextMonth = DateTime.Today.Month == 12 ? 1 : DateTime.Today.Month + 1;
    private int FirstDayOffset => ((int)DaysInMonth[0].DayOfWeek + 6) % 7;
    //Implement choosing the month (and year)
    private readonly string[] DayNames = new[] { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" };
    private readonly CultureInfo englishCulture = new CultureInfo("en-GB");

    private List<int> DetectionCounts = new();

    protected override void OnInitialized()
    {
        var random = new Random();
        DetectionCounts = Enumerable.Range(1, 30)
    .Select(_ => random.Next(1, 51)) //numbers from 1 to 51
    .ToList();
    }

    private List<DateTime> DaysInMonth => Enumerable.Range(1, DateTime.DaysInMonth(currentYear, currentMonth))
        .Select(day => new DateTime(currentYear, currentMonth, day))
        .ToList();

    private string GetColorForDay(DateTime day)
    {
        int index = day.Day - 1;
        if (index >= DetectionCounts.Count)
        {
            return "lightgray";
        }

        int value = DetectionCounts[index];

        if (value <= 15)
        {
            return "#5a9f6e";
        }

        else if (value <= 30)
        {
            return "#fac059";
        }

        else
        {
            return "#f37453";
        }

           
        // return "lightgray"; Will return other colours (red, yellow and green) when the data is shared. Mock data with array?
    }
}

<h4>@englishCulture.DateTimeFormat.GetMonthName(currentMonth) @currentYear</h4>

<div class="calendar-weekdays">
    @foreach (var dayName in DayNames)
    {
        <div>@dayName</div>
    }
</div>


<div class="calendar-grid">
    @for (int i = 0; i < FirstDayOffset; i++)
    {
        <div class="calendar-day empty"></div>
    }
    @foreach (var day in DaysInMonth)
    {
        <div class="calendar-day" style="background-color:@GetColorForDay(day)">
            <div>@day.Day</div>
        </div>
    }
</div>