@page "/analytics"
@using MudBlazor

<PageTitle>Analytics</PageTitle>

<h1>Analytics</h1>

<div class="analytics-layout">
	<div class="barChart">
		<BarChart />
	</div>
	<div class="graph">
		<Graph runs="@runs" XAxisLabels="@XAxisLabels" />
	</div>
</div>

@code {
	public List<ChartSeries> runs = new List<ChartSeries>()
	{
		new ChartSeries(){ Name="BAN", Data=new double[]{ 10,15,9,12,13,18,8,8,10,7}},
		new ChartSeries(){ Name="IND", Data = new double[] { 8,14,10,11,14,19,7,6,8,6}}
	};

	public string[] XAxisLabels = { "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00" };
}