@page "/analytics"
@using MudBlazor

<PageTitle>Analytics</PageTitle>

<h1>Analytics</h1>

<div class="analytics-layout">
	<div class="barChart">
		<!--Code for barchart-->
	</div>
	<div class="graph">
		<!--Code for graph-->
	</div>
</div>