@page "/overview"
@using LeafletForBlazor
<PageTitle>Overview</PageTitle>

<h1>Overview</h1>


<div class="overview-layout">
	<div class="map-container">
		<RealTimeMap @ref = "realTimeMap" Parameters = "@parameters" height="400px" width="300px"></RealTimeMap>
	</div>

	<div class="calendar-container">
		<WasteCalendar />
	</div>
</div>

@code{
	RealTimeMap? realTimeMap;
	RealTimeMap.LoadParameters parameters = new RealTimeMap.LoadParameters()
		{
			location = new RealTimeMap.Location()
			{
				latitude = 51.571915,
				longitude = 4.768323
			},
			zoomLevel = 12,
		};
}