@page "/overview"
@inject IJSRuntime JS
@using LeafletForBlazor
@inject DateService DateService

<PageTitle>Overview</PageTitle>

<h1>Overview</h1>

<div class="overview-layout">
	<div class="map-container">
		<div id="map" style="height: 500px;"></div>
	</div>

	<div class="calendar-container">
		<WasteCalendar />
	</div>
</div>

@code{
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JS.InvokeVoidAsync("initMap");
		}
	}
}