@page "/overview"
@using LeafletForBlazor
<PageTitle>Overview</PageTitle>

<h1>Overview</h1>


<div class="overview-layout">
	<div class="map-container">
    </div>

	<div class="calendar-container">
		<WasteCalendar />
	</div>
</div>
