@page "/overview"

<PageTitle>Overview</PageTitle>

<h1>Overzicht</h1>


<div class="overview-layout">
	<div class="map-container">
		<p>Kaart:</p>
	</div>

	<div class="calendar-container">
		<WasteCalendar />
	</div>
</div>

