@page "/register"
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations

<h3>Register</h3>

    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="newUser.Email" />
        <ValidationMessage For="@(() => newUser.Email)" />
    </div>

    <div class="mb-3">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="newUser.Password" />
        <ValidationMessage For="@(() => newUser.Password)" />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>


@code {
    private RegisterModel newUser = new RegisterModel();
    

    // Model for the registration
    public class RegisterModel
    {
        [Required, EmailAddress]
        public string Email { get; set; } = string.Empty;

        [Required, MinLength(5)]
        public string Password { get; set; } = string.Empty;

  
    }
}