@using Frontend_Dashboard.Components.Services
@inject DateService dateService


<nav class="custom-navbar">
    <div class="nav-inner">
        <a class="brand" href="/">Trash Prediction Dashboard</a>
        
        <div class="nav-links">
            <NavLink href="waste-calendar" class="nav-item" Match="NavLinkMatch.All">Waste Calendar</NavLink>
            <NavLink href="analytics" class="nav-item">Analytics</NavLink>
        </div>
        
        <InputDate class="nav-date"
                   @bind-Value="dateService.SelectedDate"
                   format="yyyy-MM-dd"
                   @key="dateService.SelectedDate" />
    </div>
</nav>


@code
{
    protected override void OnInitialized()
    {
        
        dateService.PropertyChanged += (_, _) =>
            InvokeAsync(StateHasChanged);
    }

   
    public void Dispose()
    {
        dateService.PropertyChanged -= (_, _) =>
            InvokeAsync(StateHasChanged);
    }
}