@using Frontend_Dashboard.Components.Services
@inject DateService dateService
@rendermode InteractiveServer


<nav class="custom-navbar">
    <div class="nav-inner">
        <span class="brand">Trashboard</span>

        <div class="nav-links">
            <NavLink href="/"         class="nav-item" Match="NavLinkMatch.All">Overview</NavLink>
            <NavLink href="analytics" class="nav-item">Analytics</NavLink>
        </div>

        <!-- wrap date-picker + toggle in a small flex box on the right -->
        <div class="nav-right">
            <InputDate class="nav-date"
                       @bind-Value="dateService.SelectedDate"
                       format="yyyy-MM-dd"
                       @key="dateService.SelectedDate" />

            <ThemeToggle @rendermode="InteractiveServer" />
        </div>
    </div>
</nav>


@code
{
    protected override void OnInitialized()
    {
        
        dateService.PropertyChanged += (_, _) =>
            InvokeAsync(StateHasChanged);
    }

   
    public void Dispose()
    {
        dateService.PropertyChanged -= (_, _) =>
            InvokeAsync(StateHasChanged);
    }
}