<nav class="custom-navbar">
    <div class="nav-inner">
        <a class="brand" href="/">Trash Prediction Dashboard</a>
        
        <div class="nav-links">
            <NavLink href="waste-calendar" class="nav-item" Match="NavLinkMatch.All">Waste Calendar</NavLink>
            <NavLink href="analytics" class="nav-item">Analytics</NavLink>
        </div>
    </div>
</nav>
