@inherits LayoutComponentBase

<HeadContent>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script>
        <script src="js/map.js"></script>
</HeadContent>
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            <MudItem xs="12" sm="4" md="4">
                <MudDatePicker PickerVariant="PickerVariant.Dialog" Label="Change Date" @bind-Date="@dt1" HelperText="date picker" DateFormat="dd/MM/yyyy"></MudDatePicker>
            </MudItem>
            <a href="">Zwerfafval_WebApp</a>
            <a href="overview">Overview</a>
            <a href="analytics">Analytics</a>
            <a href="settings">Settings</a>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code{
    string errorMessage = "test";

    DateTime? dt1 = new System.DateTime();
}
