@inherits LayoutComponentBase
@inject DateService DateService
@inject IJSRuntime JSRuntime
@using System.Globalization

<div class="page">
    <main>
        <div class="top-row px-4" style="display: flex; align-items: center; gap: 16px;">
            <a href="">Zwerfafval_WebApp</a>
            <div class="mb-3">
                <DateInput TValue="DateOnly" Value="DateService.SelectedDate" ValueExpression="() => DateService.SelectedDate" ValueChanged="(value) => DateChanged(value)" />
            </div>
            <button type="button" class="btn btn-success" @onclick="ReloadPage">Search 🔎</button>
            <a href="overview">Overview</a>
            <a href="analytics">Analytics</a>
            <a href="settings">Settings</a>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private async void DateChanged(DateOnly dateOnly)
    {
        DateService.SelectedDate = dateOnly;
    }

    private async Task ReloadPage()
    {
        await JSRuntime.InvokeVoidAsync("reloadPage");
    }
}