@using System.Globalization
@using Microsoft.AspNetCore.Components.Forms
@inject DateService DateService

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <!-- Analytics Date Picker -->
        <div class="nav-item px-3 my-2">
            <label class="form-label">Analytics Date:</label>
            <InputDate @bind-Value="CurrentAnalyticsDate"
                       class="form-control"
                       Max="@DateTime.Today" />
        </div>

        <!-- Overview Date Picker -->
        <div class="nav-item px-3 my-2">
            <label class="form-label">Overview Date:</label>
            <InputDate @bind-Value="CurrentOverviewDate"
                       class="form-control"
                       Max="@DateTime.Today" />
        </div>

        <!-- Rest of your navigation links -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <!-- ... other nav links ... -->
    </nav>
</div>

@code {
    private DateTime CurrentAnalyticsDate
    {
        get => DateService.AnalyticsDate;
        set => DateService.AnalyticsDate = value;
    }

    private DateTime CurrentOverviewDate
    {
        get => DateService.OverviewDate;
        set => DateService.OverviewDate = value;
    }
}